.beyond{
  padding:120px 80px;

  background:#020617;

  color:white;

  min-height:100vh;
}

/* TITLE */

.beyond h1{
  font-size:82px;

  font-weight:800;

  margin-bottom:10px;
}

.underline{
  width:110px;
  height:5px;

  border-radius:20px;

  background:
  linear-gradient(to right,#8b5cf6,#22d3ee);

  margin-bottom:50px;
}

/* DESC */

.beyond-desc{
  max-width:900px;

  font-size:28px;

  line-height:1.8;

  color:#cbd5e1;

  margin-bottom:70px;
}

/* GRID */

.beyond-grid{
  display:grid;

  grid-template-columns:
  repeat(2,1fr);

  gap:35px;
}

/* CARD */

.beyond-card{
  position:relative;

  background:
  linear-gradient(
    145deg,
    rgba(255,255,255,0.05),
    rgba(255,255,255,0.02)
  );

  border:
  1px solid rgba(255,255,255,0.08);

  border-radius:30px;

  padding:45px;

  overflow:hidden;

  transition:0.5s;

  backdrop-filter:blur(12px);
}

/* GLOW EFFECT */

.beyond-card::before{
  content:"";

  position:absolute;

  width:250px;
  height:250px;

  background:
  radial-gradient(
    circle,
    rgba(139,92,246,0.25),
    transparent 70%
  );

  top:-120px;
  right:-120px;

  transition:0.5s;
}

.beyond-card:hover{
  transform:
  translateY(-12px)
  scale(1.02);

  border:
  1px solid rgba(34,211,238,0.4);

  box-shadow:
  0 0 45px rgba(34,211,238,0.15);
}

.beyond-card:hover::before{
  transform:scale(1.3);
}

/* ICON */

.beyond-card svg{
  font-size:34px;

  color:#22d3ee;

  margin-bottom:28px;

  filter:
  drop-shadow(0 0 10px #22d3ee);
}

/* TITLE */

.beyond-card h2{
  font-size:42px;

  line-height:1.4;

  margin-bottom:10px;

  font-weight:700;
}

/* HIGHLIGHTED CLUB NAME */

.club-name{
  font-size:24px;

  font-weight:700;

  margin-bottom:18px;

  background:
  linear-gradient(to right,#8b5cf6,#22d3ee);

  -webkit-background-clip:text;

  -webkit-text-fill-color:transparent;
}

/* TEXT */

.beyond-card p{
  font-size:24px;

  line-height:1.9;

  color:#cbd5e1;
}

/* RESPONSIVE */

@media(max-width:1200px){

  .beyond-grid{
    grid-template-columns:1fr;
  }

}

@media(max-width:768px){

  .beyond{
    padding:100px 25px;
  }

  .beyond h1{
    font-size:60px;
  }

  .beyond-card{
    padding:35px;
  }

  .beyond-card h2{
    font-size:30px;
  }

  .club-name{
    font-size:20px;
  }

  .beyond-card p{
    font-size:20px;
  }

}