.contact{
  min-height:100vh;
  padding:120px 10%;
  background:#020617;
  color:white;
  position:relative;
}

.contact-container{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:80px;
  align-items:center;
}

/* LEFT */

.contact-left h1{
  font-size:70px;
  margin-bottom:20px;
}

.underline{
  width:100px;
  height:5px;

  background:
  linear-gradient(to right,#8b5cf6,#22d3ee);

  border-radius:20px;

  margin-bottom:40px;
}

.contact-desc{
  color:#cbd5e1;
  font-size:24px;
  line-height:1.8;
  margin-bottom:35px;
}

.location{
  display:flex;
  align-items:center;
  gap:12px;

  color:#22d3ee;

  font-size:20px;

  margin-bottom:40px;
}

/* CONTACT LINKS */

.contact-links{
  display:flex;
  flex-direction:column;
  gap:25px;
}

.contact-card{
  display:flex;
  align-items:center;
  gap:20px;

  padding:25px 30px;

  background:
  rgba(255,255,255,0.05);

  border:
  1px solid rgba(255,255,255,0.08);

  border-radius:24px;

  backdrop-filter:blur(20px);

  color:white;

  transition:0.4s;

  font-size:20px;
}

.contact-card svg{
  font-size:28px;
  color:#22d3ee;
}

.contact-card:hover{
  transform:
  translateY(-10px)
  scale(1.02);

  box-shadow:
  0 0 40px rgba(139,92,246,0.4);
}

/* RIGHT */

.contact-right{
  background:
  rgba(255,255,255,0.05);

  border:
  1px solid rgba(255,255,255,0.08);

  border-radius:30px;

  padding:50px;

  backdrop-filter:blur(20px);
}

.contact-right form{
  display:flex;
  flex-direction:column;
}

.contact-right label{
  margin-bottom:10px;
  font-size:18px;
  color:white;
}

.contact-right input,
.contact-right textarea{
  width:100%;

  padding:18px;

  margin-bottom:25px;

  border:none;

  outline:none;

  border-radius:16px;

  background:
  rgba(255,255,255,0.06);

  border:
  1px solid rgba(255,255,255,0.08);

  color:white;

  font-size:18px;
}

.contact-right textarea{
  resize:none;
}

.contact-right button{
  border:none;

  padding:18px;

  border-radius:18px;

  background:
  linear-gradient(to right,#7c3aed,#8b5cf6);

  color:white;

  font-size:20px;
  font-weight:bold;

  cursor:pointer;

  display:flex;
  align-items:center;
  justify-content:center;
  gap:10px;

  transition:0.4s;
}

.contact-right button:hover{
  transform:
  translateY(-8px);

  box-shadow:
  0 0 40px rgba(139,92,246,0.7);
}

/* MOBILE */

@media(max-width:1000px){

  .contact-container{
    grid-template-columns:1fr;
  }

  .contact-left h1{
    font-size:50px;
  }

  .contact-desc{
    font-size:20px;
  }

}