.experience{
  min-height:100vh;
  padding:120px 6%;
  background:#020617;
  color:white;
}

.experience h1{
  font-size:90px;
  margin-bottom:20px;
}

.underline{
  width:90px;
  height:5px;

  background:
  linear-gradient(to right,#8b5cf6,#22d3ee);

  border-radius:20px;

  margin-bottom:80px;
}

/* TIMELINE */

.timeline{
  position:relative;
  margin-left:80px;
}

.timeline::before{
  content:"";

  position:absolute;
  left:22px;
  top:0;

  width:3px;
  height:100%;

  background:
  linear-gradient(to bottom,#8b5cf6,#22d3ee);
}

/* ITEM */

.timeline-item{
  position:relative;
  margin-bottom:70px;
}

/* ICON */

.timeline-icon{
  position:absolute;
  left:-60px;
  top:30px;

  width:50px;
  height:50px;

  border-radius:50%;

  display:flex;
  align-items:center;
  justify-content:center;

  background:#111827;

  border:3px solid #8b5cf6;

  color:#22d3ee;

  z-index:2;

  box-shadow:
  0 0 30px rgba(139,92,246,0.7);
}

/* CARD */

.timeline-content{
  background:
  rgba(255,255,255,0.05);

  border:
  1px solid rgba(255,255,255,0.08);

  border-radius:30px;

  padding:45px;

  backdrop-filter:blur(20px);

  transition:0.4s;
}

.timeline-content:hover{
  transform:
  translateY(-10px);

  box-shadow:
  0 0 40px rgba(139,92,246,0.35);
}

/* TOP */

.timeline-top{
  display:flex;
  justify-content:space-between;
  align-items:center;

  margin-bottom:25px;
}

.timeline-top span{
  padding:10px 22px;

  border-radius:30px;

  background:
  rgba(255,255,255,0.06);

  border:
  1px solid rgba(255,255,255,0.08);

  color:#cbd5e1;

  font-size:18px;
}

/* TEXT */

.timeline-content h2{
  font-size:42px;
  margin-bottom:10px;
}

.timeline-content h3{
  color:#22d3ee;
  font-size:28px;
  margin-bottom:20px;
}

.timeline-content p{
  color:#cbd5e1;
  font-size:22px;
  line-height:1.8;
}

/* TAGS */

.tags{
  display:flex;
  gap:15px;
  flex-wrap:wrap;

  margin-top:30px;
}

.tags span{
  padding:10px 18px;

  border-radius:30px;

  background:
  rgba(139,92,246,0.15);

  border:
  1px solid rgba(139,92,246,0.3);

  color:#a855f7;

  font-size:16px;
}